#contentTable {
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

#contentTable div {
	margin: 0px;
	padding: 0px;
	border: none;
}

#contentTable span {
	display: inline-block;
	vertical-align: bottom;
	overflow: visible;
	text-align: center;
}

.cursor {
	animation: blink 1500ms step-start 1000ms infinite;
	-webkit-animation: blink 1500ms step-start 1000ms infinite;
}


.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.strike {
	text-decoration: line-through;
}

.blink {
	-webkit-animation: blink .75s linear infinite;
	animation: blink .75s linear infinite;
}
