#contentTable {
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

#contentTable td {
	margin: 0px;
	padding: 0px;
	border: none;
}

#contentTable td div {
	overflow: visible;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.strike {
	text-decoration: line-through;
}

.blink {
	-webkit-animation: blink .75s linear infinite;
	animation: blink .75s linear infinite;
}
